@CHARSET "ISO-8859-1";

*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}

body {

	background-color: white;
}

#wrapper {
	width: 960px;
	min-height: 570px;
	margin:0 auto;
}

#container {
	width: 960px;
	min-height: 70px;
	margin:0 auto;
}

.clearfix{
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }


/**** HEADER *****/

header {
	height: 51px;
	margin: 0 auto;
	background-color: #4b4b4b;
}

#head-nav {
	height: 51px;
	width: 960px;
	margin: 0 auto;
}

#sect-1 {
	float: left;
}

#sect-1 ul#logo-cont {
	margin: 0;
	padding: 0;
	margin-left: 5px;
	padding-top: 7px;
	list-style-type: none;
}

#sect-1 ul#logo-cont li:hover{
	background-color: rgba(99, 97, 97, 0.46);
	width: 90px;
}

#nav-1 {
	float: right;
}

#nav-1 ul#menu-1 {
	margin: 0;
	padding: 0;
	padding-top: 15px;
	font-size: 13px;
	list-style-type: none;
}

#nav-1 ul#menu-1 li {
	float: left;
	height: 30px;
}

#nav-1 ul#menu-1 li#home{
	padding-top:14px;
	height: 16px;
}

#nav-1 ul#menu-1 li#logout{
	padding-top:14px;
	height: 16px;
}

#nav-1 ul#menu-1 li.select-1 {
	border-right: 2px rgba(99, 97, 97, 0.46) solid;
}

#nav-1 ul#menu-1 li:hover {
	background-color: rgba(99, 97, 97, 0.46);
}

#nav-1 ul#menu-1 li a {
	text-decoration: none;
	color: #878282;
}

#nav-1 ul#menu-1 li a:hover {
	color: white;
}

/***** FOOTER ******/

footer {
	height: 25px;
	margin: 0 auto;
	background-image: url(../images/footer_bg.png);
	background-repeat: repeat-x;
}

#footer-nav {
	width: 960px;
	height: 25px;
	margin: 0 auto;
}

#sect-2 {
	float: left;
}

#sect-2 ul#copyright {
	margin: 0;
	padding: 0;
	padding-top: 7px;
	font-size: 12px;
	list-style-type: none;
}

#sect-2 ul#copyright li:hover {
	width: 134px;
}

#sect-2 ul#copyright li a {
	text-decoration: none;
	color: rgba(76, 74, 74, 0.69);
}

#sect-2 ul#copyright li a:hover {
	color: #4c4a4a;
}

#nav-3 {
	float: right;
}

#nav-3 ul#menu-3 {
	margin: 0;
	padding: 0;
	padding-top: 7px;
	font-size: 12px;
	list-style-type: none;
}

#nav-3 ul#menu-3 li {
	float: left;
}

#nav-3 ul#menu-3 li.select-2 {
	border-right: 2px rgba(99, 97, 97, 0.46) solid;
}

#nav-3 ul#menu-3 li a {
	text-decoration: none;
	color: rgba(76, 74, 74, 0.69);
}

#nav-3 ul#menu-3 li a:hover {
	color: #4c4a4a;
}


/****** dashboard content begin ******/
/**** DASHBOARD****/

p#dash-header {
	font-size: 20px;
	color: #00a8ec;
	margin-top: 5px;
	margin-left: 10px;
}

#x {
	font-size: 32px;
	color: #c790b9;
}

#xecute {
	color: #c790b9;
}

#dashboard {
	height: 150px;
	width: 945px;
	margin: 0 auto;
	border-top: 2px #b4b4b4 solid;
	border-bottom: 6px #b4b4b4 solid;
}

.nav-items{
	width:151px;
	height:127px;
	background-repeat:no-repeat;
	cursor:pointer;
}

.nav-items-selected {
	width:151px;
	height:127px;
	background-repeat:no-repeat;
}

#nav-2 {
	width:1100px; 
	margin: 0 auto;
}

#nav-2 ul#menu-2 {
	margin: 0;
	padding: 0;
	padding-top: 15px;
	list-style-type: none;
}

#nav-2 ul#menu-2 li {
	float: left;
	margin-right:50px;
}

#home-nav {
	padding-top: 65px;
	height: 61px;
	color: white;
	background-image: url(../images/home_nav.png);
}

#home-nav:hover {
	background-image: url(../images/home_hover_nav.png);
}

#home-nav.nav-items-selected {
	background-image: url(../images/home_hover_nav.png);
}

#home-nav #nav1-title {
	font-size: 11.80px;
	margin-left: 58px;
}

#todo-nav {
	padding-top: 21px;
	height: 106px;
	color: white;
	background-image: url(../images/todo_nav.png);
}

#todo-nav:hover {
	background-image: url(../images/todo_hover_nav.png);
}

#todo-nav.nav-items-selected {
	background-image: url(../images/todo_hover_nav.png);
}

#todo-nav #nav2-title {
	font-size: 11.86px;
	margin-left: 50.86px;
}

#gal-nav {
	padding-top: 103px;
	height: 23px;
	color: white;
	background-image: url(../images/gallery_nav.png);
}

#gal-nav:hover {
	background-image: url(../images/gallery_hover_nav.png);
}

#gal-nav.nav-items-selected {
	background-image: url(../images/gallery_hover_nav.png);
}

#gal-nav #nav3-title {
	font-size: 11.64px;
	margin-left: 5.64px;
}

#arch-nav {
	padding-top: 39px;
	height: 89px;
	color: #878282;
	background-image: url(../images/archive_nav.png);
}

#arch-nav:hover {
	color: #4b4b4b;
	background-image: url(../images/archive_hover_nav.png);
}

#arch-nav.nav-items-selected {
	color: #4b4b4b;
	background-image: url(../images/archive_hover_nav.png);
}

#arch-nav #nav4-title {
	font-size: 11.84px;
	margin-left: 44.86px;
}

#set-nav {
	padding-top: 50px;
	height: 76px;
	color: white;
	background-image: url(../images/settings_nav.png);
}

#set-nav:hover {
	background-image: url(../images/settings_hover_nav.png);
}

#set-nav.nav-items-selected {
	background-image: url(../images/settings_hover_nav.png);
}

#set-nav #nav5-title {
	font-size: 11.52px;
	margin-left: 16.52px;
}
/***** dashboard content end ******/


/*CALENDAR*/

#element_to_pop_up { 
    background-color:#fff;
    border-radius:15px;
    color:#000;
    display:none; 
    padding:20px;
    min-width:400px;
    min-height: 180px;
}
.bClose{
    cursor:pointer;
    position:absolute;
    right:10px;
    top:5px;
}

#calendar {
	margin-top: 10px;
	text-align: center;
	font-size: 14px;
	width: 675px;
	margin: 0 auto;
	float:left;
	background-color: #e6e6e6;
}


/**** load pages content begin *****/
/****** LOAD PAGES ******/

#load-page {
	margin-top: 10px;
}

.content-container {
	width: 677px;
	min-height: 704px;
	margin: 0 auto;
	float: left;
	border-right: 1px #e6e6e6 solid;
}

#home-content {
	background-color: rgba(0, 0, 0, 0.09);
}

#todo-content {
	padding-left: 20px;
}

#gallery-content {
	background-color: #d75696;
}

#archives-content {
	background-color: #906bac;
}

#settings-content {
	background-color: #6cac6b;
}
/***** load pages content end ****/


/**right-sidebar contents begin**/

#right-sidebar {
	width: 261px;
	min-height: 704px;
	float: right;
	border-right: 1px #e6e6e6 solid;
}


/***SEARCH****/

#search-user {
	margin-top: 35px;
	margin-left: 17px;	
}

#search-user ul {
	list-style-type: none;
}

#search-user ul li {
	float: left;
	margin-right: 5px;
}

#search-user ul li#search-button {
	margin-top: -6px;
}

#search-user p {
	margin-bottom: 3px;	
	font-size: 14px;
	color: #b4b4b4;
}

#search-user input {
	width: 189px;
	height: 28px;
}

#search-user button {
	width: 35px;
	height: 35px;
	background-image: url(../images/search_button.png);
	cursor: pointer;
	background-color: white;
	border:solid 1px white;	
}


/***FOLLOWERS****/

#follow-likes {
	margin-left: 17px;	
}

#followers {
	margin-top: 45px;
	width: 227px;
	height: 57px;
	background-image: url(../images/follow_likes_bg.png);
	background-repeat: no-repeat;
}

#followers ul {
	list-style-type: none;
	padding-top: 3px;
	padding-left: 4px;
}

#followers ul li {
	float: left;
}

#followers ul li#flwrs-sym {
	width: 26px;
	height: 21px;
	margin-right: 35px;
	background-image: url(../images/follower_sym.png);
	background-repeat: no-repeat;
}

#followers ul li#flwrs-count {
	margin-top: 5px;
	margin-left: 65px;
}

#followers p {
	font-size: 18px;
	color: white;
}

#followers a {
	text-decoration: none;
	font-size: 18px;
	color: #4b4b4b;
}

#followers a:hover {
	text-decoration: underline;
}


/***FOLLOWING****/

#following {
	margin-top: 14px;
	width: 227px;
	height: 57px;
	background-image: url(../images/follow_likes_bg.png);
	background-repeat: no-repeat;
}

#following ul {
	list-style-type: none;
	padding-top: 3px;
	padding-left: 4px;
}

#following ul li {
	float: left;
}

#following ul li#flwng-sym {
	width: 26px;
	height: 21px;
	margin-right: 35px;
	background-image: url(../images/following_sym.png);
	background-repeat: no-repeat;
}

#following ul li#flwng-count {
	margin-top: 5px;
	margin-left: 65px;
}

#following p {
	font-size: 18px;
	color: white;
}

#following a {
	text-decoration: none;
	font-size: 18px;
	color: #4b4b4b;
}

#following a:hover {
	text-decoration: underline;
}

/***LIKES****/

#likes {
	margin-top: 14px;
	width: 227px;
	height: 57px;
	background-image: url(../images/follow_likes_bg.png);
	background-repeat: no-repeat;
}

#likes ul {
	list-style-type: none;
	padding-top: 3px;
	padding-left: 4px;
}

#likes ul li {
	float: left;
}

#likes ul li#likes-sym {
	width: 26px;
	height: 21px;
	margin-right: 65px;
	background-image: url(../images/likes_sym.png);
	background-repeat: no-repeat;
}

#likes ul li#likes-count {
	margin-top: 5px;
	margin-left: 75px;
}

#likes p {
	font-size: 18px;
	color: white;
}

#likes a {
	text-decoration: none;
	font-size: 18px;
	color: #4b4b4b;
}

#likes a:hover {
	text-decoration: underline;
}

/********* TODO TABLE *******/

#new-todo tr#table-header {
	background-color: #c790b9;
	font-size: 14px;
	color: white;
}

#new-todo td {
	width: 110px;
	font-size: 12px;
	background-color:transparent;
}

.content-container-2 tr#table-header {
	background-color: #c790b9;
	font-size: 14px;
	color: white;
}

.content-container-2 td {
	width: 110px;
	font-size: 12px;
	background-color:rgba(0, 0, 255, 0.19);
}